#header {
  background-color: rgb(221, 137, 123);
  height: 130px;
  font-style: italic;
  font-size: 80px;
  text-align: center;
  margin-bottom: 30px;
  border-style: groove;
  border-width: 30px;
}
#content {
  background: rgb(248, 242, 246);
  margin: 0 auto;
  overflow: inline-block;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 90px;
}
.divImage {
  display: inline-block;
  border: 2px solid #c2d7e9;
  padding: 20px;
  margin: 10px 10px 20px 10px;
  box-shadow: 5px 7px rgb(182, 214, 240);
}
p {
  font-weight: bold;
  font-size: 17px;
}
h3 {
  font-size: 20 px;
  color: rgb(221, 137, 123);
}
