header {
    background-color: burlywood;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
}

nav {
    padding: 10px;
    text-align: center;
    font-size: medium;
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}

a:link {
    color: brown;
    text-decoration: none;
}

a:visited {
    color: rosybrown;
    text-decoration: none;
}

a:hover {
    color: brown;
    background-color: burlywood;
    text-decoration: underline;
  }

h1 {
    font-weight: normal;
    text-align: center;
}

li {
    font-size: large;
    border: 3px burlywood;
    text-align: center;
}

.column {
    float: left;
    width: 70%;
    align-content: center;
}


.imgbox {
    float: right;
    width: 20%;
    background-color: burlywood;
    border-left-style: dashed;
    border-left-color: black 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

#date {
    font-size: large;
    font-weight: bold;
    color: red;
    text-align: center;
}

.preisbox {
    float: center;
    background-color: burlywood;
    width: 5cm;

}